﻿
@{
    ViewData["Title"] = "User Registration";
}

<h1 class="text-center">User Registration</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="MessageAlert" style="color:green;font-weight:bolder" class="Message-Alert control-label">@TempData["SuccessMessage"]</label>
                <label class="MessageAlert" style="color:red;font-weight:bolder" class="Message-Alert control-label">@TempData["ErrorMessage"]</label>
            </div>
            <form asp-action="Create">

                <div class="form-group">
                    <label class="control-label">User Name</label>
                    <input type="text" name="Username" required class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input type="text" name="FirstName" required class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" name="LastName" required class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label"> Password</label>
                    <input name="Password" type="password" required class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Contact No</label>
                    <input type="text" name="ContactNo" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input type="text" name="Address" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" id="createUser" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $(".MessageAlert").fadeOut(5000);
    },5000);
</script>



