﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="Login">
                <div class="form-group">
                    <label class="MessageAlert" style="color:green;font-weight:bolder" class="Message-Alert control-label">@TempData["SuccessMessage"]</label>
                    <label class="MessageAlert" style="color:red;font-weight:bolder" class="Message-Alert control-label">@TempData["ErrorMessage"]</label>
                </div>
                <div class="form-group">
                    <label class="control-label">User Name</label>
                    <input type="text" name="Username" required class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" autocomplete="off" name="Password" required class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script>
    setTimeout(function () {
        $(".MessageAlert").fadeOut(3000);
    }, 3000);
</script>