﻿@model BoatRenting.Models.RentBoat
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="RentTheBoat">
            <div class="form-group">
                <label for="BoatId" class="control-label">Boat Id</label>
                <input name="BoatId" class="form-control" value="@Model.BoatId" readonly />

            </div>
            <div class="form-group">
                <label for="BoatName" class="control-label">Boat Name</label>
                <input name="BoatName" class="form-control" value="@Model.BoatName" readonly />
            </div>
            <div class="form-group">
                <label for="BoatColor" class="control-label"></label>
                <input name="BoatColor" class="form-control" value="@Model.BoatColor" readonly />
            </div>
            <div class="form-group">
                <label for="RentRate" class="control-label">Rent Rate (Hourly)</label>
                <input name="RentRate" class="form-control" readonly value="@Model.RentRate" />
            </div>
            <div class="form-group">
                <label for="RentTo" class="control-label">Rent To</label>
                <input name="RentTo" type="text" class="form-control" value="@Model.RentTo" readonly required />
            </div>
            <div class="form-group">
                <label for="RentedFor" class="control-label">Rent Time (Hours)</label>
                <input name="RentedFor" type="number" step="any" value="@Model.RentedFor" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label for="RentedOn" class="control-label">Rented On</label>
                <input name="RentedOn" type="text" value="@Model.RentedOn" readonly class="form-control" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
