﻿@model IEnumerable<BoatRenting.Models.RentBoat>
@{
    ViewData["Title"] = "Rent Boat";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 class="text-center">Rent Boat</h1>

<div class="form-group">
    <label id="MessageAlert" style="color:green;font-weight:bolder" class="Message-Alert control-label">@TempData["SuccessMessage"] @TempData["BoatID"]</label>

    <label id="MessageAlert" style="color:red;font-weight:bolder" class="Message-Alert control-label">@TempData["ErrorMessage"]</label>
</div>
<div class="form-group">
    @using (Html.BeginForm("Index", "BoatRegistration", null, FormMethod.Post))
    {
        <button type="submit" style="margin:5px;" class="btn btn-primary">Register New Boat</button>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Boat Id
            </th>
            <th>
                Boat Name
            </th>
            <th>
                Boat Color
            </th>
            <th>
                Rent Rate (Hourly)
            </th>
            <th>
                Status
            </th>
            <th>
                Available Time
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoatColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableTime)
                </td>

                <td style="display:flex">
                    @*<a asp-action="Rent" asp-route-id="@item.BoatId">Rent</a>*@
                    @using (Html.BeginForm("Rent", "RentBoat", new { id = item.BoatId }, FormMethod.Post))
                    {
                        <button type="submit" style="margin:5px;display:@((item.IsRented == "N" && item.Status == "Active") ? "block" : "none")" class="btn btn-primary">Rent</button>
                    }
                    @using (Html.BeginForm("Details", "RentBoat", new { id = item.BoatId }, FormMethod.Post))
                    {
                        <button type="submit" style="margin:5px;display:@((item.IsRented == "Y") ? "block" : "none")" class="btn btn-primary">Details</button>
                    }
                    @using (Html.BeginForm("CreateBill", "RentBoat", new { id = item.BoatId }, FormMethod.Post))
                    {
                        <button type="submit" style="margin:5px;display:@((item.IsRented == "Y") ? "block" : "none")" class="btn btn-primary">Create Bill</button>
                    }
                    @using (Html.BeginForm("Active", "RentBoat", new { id = item.BoatId }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-success" style="margin: 5px; display:@((item.Status == "Active" || item.IsRented=="Y") ? "none" : "block")">Active</button>
                    }
                    @using (Html.BeginForm("DeActive", "RentBoat", new { id = item.BoatId }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger" style="margin: 5px; display:@((item.Status == "Active" && item.IsRented=="N") ? "block" : "none")">De-Active</button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    setTimeout(function () {
        $("#MessageAlert").fadeOut(100000);
    }, 3000);
</script>