﻿@{
    ViewData["Title"] = "Boat Registration";
}

<h1 class="text-center">Boat Registration</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form asp-action="Register">
                <div class="form-group">
                    <label id="MessageAlert" style="color:green;font-weight:bolder" class="Message-Alert control-label">@TempData["SuccessMessage"] @TempData["BoatID"]</label>

                    <label id="MessageAlert" style="color:red;font-weight:bolder" class="Message-Alert control-label">@TempData["ErrorMessage"]</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Boat Name</label>
                    <input type="text" name="BoatName" required class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Boat Renting Rate (Hourly)</label>
                    <input type="number" step="any" min="0" name="BoatRent" required class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Boat Color</label>
                    <input type="text" name="BoatColor" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>

            </form>
            <div>
                <a asp-controller="RentBoat" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $("#MessageAlert").fadeOut(100000);
    }, 3000);
</script>